*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  // background:pink;
}
#inner{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.former-h5{
  font-size: 1.25rem;
  font-weight: 500;
}

.header__logo {
  width: 200px;
  height: 50px;
}

.navbar-dark {
  background-color: black !important;
  z-index: 2;
  position: fixed;
  width: 100%;
}

.navbar-brand{
  img{
    width: 80px;
  }
}

.jumbotron{
  padding-top: 80px;
}

h2{
  margin-top: 30px;
  text-align: center;
  color: darkblue;
}

.card-deck{
  .card{
    margin: 5px 15px;
  }
  img{
    height: 250px;
    object-fit: contain;
  }
}
.syllabus{
  margin: auto 15px;
}
.box {
  width: 150px;
  height: 100px;
  padding: 30px;
  margin: 10px;
  background: #ddd;
}

.scroll {
  overflow: scroll;
}

.scrollx {
  overflow: hidden;
  overflow-x: scroll;
}

.scrolly {
  overflow: hidden;
  overflow-y: scroll;
}

.box p {
  white-space: nowrap;
}

.container {
  text-align: center;
  margin-bottom: 5px;
  // border: 1px solid #c52929;
}

.contenta {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

footer {
  color: #efefef;
  margin-top: 100px;
  position: absolute;
}

.notes {
  text-align: left;
}

.abc {
  text-align: center;
  color: #3f51b5;
}

.columns-folder {
  width: 100%;
  text-align: center;
}

.columns {
  display: inline-block;
  width: calc(95% / 3);
}

.news {
  // width: 80%;
  margin: 10px auto;
  height: 300px;
}

.box {
  width: 150px;
  height: 100px;
  padding: 30px;
  margin: 10px;
  background: #ddd;
}



.scroll {
  overflow: scroll;
}

.scrollx {
  overflow: hidden;
  overflow-x: scroll;
}

.scrolly {
  // overflow: hidden;
  overflow-y: scroll;
}


.hide{
  display: none;
}

.box p {
  white-space: nowrap;
}

.card_special{
  max-width: calc(100%/3);
}

.members{
  // border: 1px solid #000;
  text-align: left;
  font-size: 0;
}
.member{
  font-size: 1rem;
  display: inline-block;
  width: calc((100% - 100px) / 5);
  border: 1px solid #000;
  margin-top: 20px;
  vertical-align: top;
  // height: 450px;
  margin-right: 20px;
  .former-h5{
    height: 60px;
    // padding: 5px 0 5px 0;
    margin-bottom: 0;
  }
  &:nth-child(5n){
    margin-right: 0;
  }
  div{
    padding-left: 2px;
    // height: 180px;
    p{
      margin-block-start: 0;
    margin-block-end: 0;
    }
  }
  .member-detail{
    height: 75px;
  }
}
.iframe-wrap{
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 50%;
}
.iframe-parent{
  text-align: center;
  background: #c52929;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access-table{
  margin: 5%;
  text-align: left;
  th{
    padding: 3px;
  }
  td{
    // border: 1px solid #000;
    padding: 3px 50px;
  }
}
.recruitment{
  text-align: left;
  div{
    margin: 0 auto;
    // width: 80%;
  }
}
#recruitment{
  img{
    width: 50%;
    min-width:150px;
    border: 1px solid #000;
  }
}
.iframe-wrap2{
  position: relative;
  width: 40%;
  min-width: 300px;
  // margin: 0 0 40px 20px;
  margin-bottom: 40px;
  padding-top: 30%;
}
@media(max-width: 1200px){
  .member{
    width: calc((100% - 50px) / 3);
    &:nth-child(5n){
      margin-right: 20px;
    }
    &:nth-child(3n){
      margin-right: 0;
    }
  }
  .iframe-wrap2{
    padding-top: 50%;
    margin: 20px auto 20px auto;
  }
}

@media not all and (max-width:767px){
  .card-deck{
    .former-h5+p{
      // background: #000;  
      height: 80px;
      padding: 2px 0 2px 0;
    }
  }
}

@media all and (max-width: 767px) {
  .columns {
    display: block;
    margin: 0 auto;
  }
  .member{
    width: 100%;
    margin-right: 0;
  }
  footer{
    margin-top: 500px;
  }
}

@media all and (max-width: 575px){
  .card_special{
    max-width: 100%;
  }
}
